extends layout

block content

  ul#apps

  script#app(type="text/html")

    li.app

      a.logo
        img(src="{{logo}}")

      div.meta
        h2 {{name}}
        p {{description}}

        div.drawer

          form.deploy
            input(type="hidden" name="source" value="{{repository}}")
            input(type="submit" value="Deploy")

          div.output

  script#build_result(type="text/html")

    p
      | Your app is deploying to
      a(href="https://{{app.name}}.herokuapp.com"){{app.name}}.herokuapp.com
      | , and will be ready soon.
