extends layout

block content

  ul#apps

  script#app(type="text/html")

    li
      a.logo(href="apps/?source={{repository}}")
        img(src="{{logo}}")
      h2 {{name}}
      p {{description}}
      form(method="POST" action="/go")
        input(type="hidden" name="source" value="{{repository}}")
        input(type="submit" value="Deploy")
