g1 = rgba(69,61,128,1)
g2 = rgba(99,64,140,1)
backgroundColor = rgba(#6762A6, 0.4)
appBackgroundColor = #FFF
headingColor = #FFF
textColor = #666
appHeadingColor = #333
buttonColor = g2
linkColor = g1

// desktopWidth = 1000px
// appCardWidth = 280px
// appLogoWidth = 200px
appCardWidthSingle = 480px
appLogoWidthSingle = 400px
