g1 = rgba(69,61,128,1)
g2 = rgba(99,64,140,1)
backgroundColor = #603F8B
appBackgroundColor = #FFF
headingColor = #FFF
textColor = #666
appHeadingColor = #333
buttonColor = g2
linkColor = g1

appCardWidthSingle = 480px
appLogoWidthSingle = 400px
