@font-face
  font-family 'benton'
  src url('//www.herokucdn.com/fonts/bentonsans-regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'benton'
  src url('//www.herokucdn.com/fonts/bentonsans-medium.woff') format('woff')
  font-weight bold
  font-style normal
