@font-face
  font-family 'benton'
  src url('https://s3.amazonaws.com/design.heroku/fonts/bentonsans-regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'benton'
  src url('https://s3.amazonaws.com/design.heroku/fonts/bentonsans-medium.woff') format('woff')
  font-weight bold
  font-style normal

// https://s3.amazonaws.com/design.heroku/logos/heroku-logo-purple.svg
// https://s3.amazonaws.com/design.heroku/logos/heroku-logo-white.svg
// https://s3.amazonaws.com/design.heroku/logos/heroku-mark-purple.svg
// https://s3.amazonaws.com/design.heroku/logos/heroku-mark-white.svg

g1 = rgba(69,61,128,1)
g2 = rgba(99,64,140,1)

backgroundColor = rgba(#6762A6, 0.4)
// textColor = #53397C
textColor = #666
appBackgroundColor = #FFF
desktopWidth = 1000px
buttonColor = g1
headingColor = #333
linkColor = g1

// Layout
//---------------------------------------------------------

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family benton, "helvetica neue", helvetica, arial
  margin 0
  padding 0
  color textColor

  background rgb(69,61,128)
  background -moz-linear-gradient(top,  g1 0%,  g2 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,g1), color-stop(100%, g2))
  background -webkit-linear-gradient(top,  g1 0%, g2 100%)
  background -o-linear-gradient(top,  g1 0%, g2 100%)
  background -ms-linear-gradient(top,  g1 0%, g2 100%)
  background linear-gradient(to bottom,  g1 0%, g2 100%)
  background #603F8B

section
  // position relative
  // margin 0 auto
  // max-width desktopWidth
  // padding 0
  // background black

ul#apps
  display block
  float none
  margin 20px
  padding 0

  > li
    background #EEE
    max-width 280px
    float left
    margin 20px
    position relative
    border-radius 5px
    list-style none
    -webkit-box-shadow 0px 2px 4px 0px rgba(50, 50, 50, 0.5)
    -moz-box-shadow    0px 2px 4px 0px rgba(50, 50, 50, 0.5)
    box-shadow         0px 2px 4px 0px rgba(50, 50, 50, 0.5)

    a.logo
      cursor pointer
      display block
      position relative
      width 280px
      height 280px
      background appBackgroundColor
      border-radius 5px
      border-bottom 1px solid #CCC

    img
      max-width 200px
      max-height 200px
      position relative
      top 50%
      left 50%
      -webkit-transform translate(-50%, -50%)
      transform translate(-50%, -50%)
      overflow hidden

    div.meta
      padding 0 15px

    div.drawer
      padding-bottom 15px

    h2
      font-size 16px
      font-weight bold
      color headingColor
      a
        color headingColor

    p
      padding 0
      font-weight normal
      font-size 14px
      opacity 0.9
      line-height 1.4
      a
        color linkColor

    form
      padding 0
      input
        outline none
        border none
        width 100%
        text-align center
        background #999
        color white
        display inline-block
        position relative
        -webkit-border-radius 2px
        -moz-border-radius 2px
        border-radius 5px
        font-size 14px
        font-weight normal
        line-height 2.5
        cursor pointer
        transition 0.3s all
        &:hover
          background buttonColor

    div.drawer
      display none

    &.active
      div.drawer
        display block


a
  color textColor
