@import "_mixins.styl"
@import "_fonts.styl"
@import "_config"

// Layout
//---------------------------------------------------------

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family benton, "helvetica neue", helvetica, arial
  margin 0
  padding 0
  color textColor
  background backgroundColor

section
  position relative

ul#apps
  margin 20px auto
  padding 0
  list-style none
  column-count 1
  column-gap 5px
  column-fill auto
  max-width 320px

  @media (min-width: 640px)
    max-width 640px
    column-count 2

  @media (min-width: 960px)
    max-width 960px
    column-count 3

  &.single
    max-width 480px
    column-count 1
    > li
      min-width 440px
      max-width 440px

  a.repository, a.website
    display none

  > li
    max-width 280px
    display inline-block
    column-break-inside avoid
    background #EEE
    margin 20px
    border-radius 5px
    list-style none
    -webkit-box-shadow 0px 2px 4px 0px rgba(50, 50, 50, 0.5)
    -moz-box-shadow    0px 2px 4px 0px rgba(50, 50, 50, 0.5)
    box-shadow         0px 2px 4px 0px rgba(50, 50, 50, 0.5)
    transition all 0.3s

    &.active
      -webkit-box-shadow 0px 2px 20px 10px rgba(50, 50, 50, 0.5)
      -moz-box-shadow    0px 2px 20px 10px rgba(50, 50, 50, 0.5)
      box-shadow         0px 2px 20px 10px rgba(50, 50, 50, 0.5)

    a.logo
      cursor pointer
      display block
      position relative
      width 100%
      height: 300px
      background appBackgroundColor
      border-radius 5px
      border-bottom 1px solid #CCC

    img
      max-width 80%
      max-height 80%
      position relative
      top 50%
      left 50%
      -webkit-transform translate(-50%, -50%)
      transform translate(-50%, -50%)
      overflow hidden

    div.meta
      padding 0 15px

    h2
      font-size 16px
      line-height 1
      font-weight bold
      color appHeadingColor
      margin 10px 0 0 0
      padding 0
      a
        color appHeadingColor
        text-decoration none
        display block
        max-width 90%
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

    h3
      font-size 16px
      font-weight normal
      color appHeadingColor
      margin 0
      padding 15px 0 5px 0

    ul.addons
      margin 0 0 15px 0
      padding 0
      list-style none
      > li
        line-height 4
        font-size 14px
        border-top 1px solid #DDD
        a
          display block
          position relative
          padding-left 38px
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
          img
            position absolute
            top 50%
            left 16px
            max-width 32px
            max-height 32px
          span.price
            font-style italic
            opacity 0.5

    div.drawer
      transition all 0.3s
      overflow hidden
      margin-bottom 0
      margin-bottom 15px

    &.active
      div.drawer
        max-height 1000px
        margin-bottom 15px

    p
      padding 0
      font-weight normal
      font-size 14px
      opacity 0.9
      line-height 1.4
      a
        color linkColor

    form
      padding 0
      input
        outline none
        border none
        width 100%
        text-align center
        background #999
        color white
        display inline-block
        position relative
        border-radius 2px
        font-size 14px
        font-weight normal
        line-height 2.5
        cursor pointer
        transition 0.3s all
        webkit-appearance none
        &:hover
          background buttonColor

header
  float none
  overflow hidden
  padding 30px 40px 0 40px

  h1
    font-weight bold
    font-size 18px
    text-align center
    color headingColor
    line-height 1
    margin 0
    padding 0
    a
      color headingColor
      span
        opacity 0.6

  ul
    list-style none
    position: fixed
    margin 0
    padding 0
    top 20px
    right 20px
    z-index 10
    > li
      a
        color rgba(headingColor, 0.5)

a
  color textColor
  text-decoration none
